@charset "utf-8";
/* 
문제해결
header hover시 submenu가 안뜸
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 공통 */

:root {
  font-size: 10px;
  --color-bg: #222;
  --color-text: #646464;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}


/*************** HEADER ***************/

header {
  position: fixed;
  width: 100%;
  top: 0;
  transition: .3s;
  z-index: 1000;
}

header a {
  color: #fff;
}

header nav {
  position: relative;
  height: auto;
  transition: .5s;
  background-image: linear-gradient(rgba(64, 64, 64, 0.50), transparent);
}

header nav:hover {
  background: var(--color-bg);
}

/* header .subMenu, */
header .mainMenu {
  display: flex;
  width: 100%;
  padding: 0 10rem;
  font-size: 2rem;
  height: 5rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.178);
}

header .mainMenu li,
header .subMenu>li {
  width: calc(100% / 7);
}

header .logo a {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Oswald", sans-serif;
}

header nav a:not(.notice a) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

header .subMenuWrap {
  display: none;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  font-size: 1.5rem;
}

header .subMenu {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  padding: 0 10rem 7rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(204, 204, 204, 0.178);
}

header .subMenu>li {
  margin: 1rem 0;
}

header .subMenu>li a {
  padding: .5rem 0;
  color: var(--color-text);
  transition: .4s ease;
}

header .subMenu>li a:hover {
  color: #fff;
}

header .subMenuWrap .notice {
  display: flex;
  justify-content: right;
  gap: 10rem;
  padding: 1rem 10rem 1rem 0;
}

header .subMenuWrap .notice p {
  padding: .5rem 0;
  line-height: 1.3;
}

header .subMenuWrap .notice .right {
  width: 21rem;
}

header .subMenuWrap .notice .right a {
  display: flex;
  gap: 1.3rem;
  font-size: 1.8rem;
  text-align: left;
}

header .subMenuWrap .notice .right a span {
  transition: transform .3s;
}

header .subMenuWrap .notice .right a:hover span {
  transform: translateX(.5rem);
}

header nav .btn {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 2rem;
  color: #fff;
}

/* section1 */
#section0 .wrap {
  height: 100vh;
}

#section0 video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  overflow: hidden;
}

#section0 .introduce {
  display: flex;
  height: 20vh;
  gap: 20rem;
  justify-content: space-between;
  padding: 0 9vw 0 20vw;
  align-items: center;
}

#section0 .left {
  flex: 1;
  font-size: 3.2rem;
  word-break: keep-all;
  letter-spacing: 1px;
}

#section0 .right {
  width: 20%;
}

#section0 .right p {
  font-size: 1.5rem;
  font-weight: 300;
}

#section0 .right p>a {
  color: #777;
  text-decoration: underline;
  transition: .2s;
}

#section0 .right p>a:hover {
  color: #000;
}

/* 버튼 */
#section0 .right>a {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.8rem;
  width: 22rem;
  height: 5rem;
  padding-left: 2.5rem;
  background: var(--color-bg);
  line-height: 5rem;
  margin-top: 2rem;
  color: #fff;
}

/* section1 */
#section1 .wrap {
  padding: 2rem;
}

#section1 .wrap h1 {
  margin-bottom: 1rem;
}

#section1 .wrap .con a {
  padding: 2rem;
}

#section1 .wrap .con1 a {
  display: flex;
  background: #833529;
  width: 100%;
  height: 80vh;
  justify-content: space-between;
}

#section1 .wrap .con1 .conPic {
  width: 45%;
  height: 75%;
  overflow: hidden;
}

#section1 .wrap .con1 .desc {
  align-self: flex-end;
  font-size: 3.2rem;
  color: #fff;
}

#section1 .wrap .desc p:not(:first-of-type) {
  filter: opacity(0.6);
}

#section1 .desc p:last-of-type {
  margin-top: 2rem;
}

#section1 .wrap .con2 {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 0 20vw;
  height: 60rem;
}

#section1 .wrap .con2 div a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

#section1 .wrap .con2 .left {
  width: 60%;
  background: #65a5c9;
}

#section1 .wrap .con2 .left .conPic {
  align-self: flex-end;
  width: 80%;
  height: 60%;
}

#section1 .wrap .con2 .left .desc {
  font-size: 2.3rem;
  color: #fff;
}

#section1 .wrap .con2 .right {
  flex: 1;
}

#section1 .wrap .con2 .right a {
  display: flex;
  height: 70%;
  padding: 0;
}

#section1 .wrap .con2 .right .conPic {
  height: 70%;
}

#section1 .wrap .con2 .right .desc {
  flex: 1;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--color-text);
}