@charset "utf-8";
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

/* 공통 */

:root {
  font-size: 10px;
  --maincolor: #009ee3;
  /* Faroese Blue */
  --primary1: #6B8E23;
  /* Velvety Green */
  --primary2: #5C7259;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrap {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}


/*************** HEADER ***************/


header {
  position: fixed;
  width: 100%;
  top: 0;
  transition: .3s;
  z-index: 10;
}

header .mainMenu{
  display: flex;
  border: 1px solid #000;
  font-size: 3rem;
  width: ;
}

header .subMenu{
  display: flex;
}